/* Base */
@import "./global.css";

/* Components */
@import "./container.css";
@import "./heading.css";

/* Utilities */
@import "./remove-autocomplete-styles.css";
@import "./safe-paddings.css";
@import "./scrollbar-hidden.css";
@import "./background.css";
@import "./gradient-text.css";
@import "./flat-breaks.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
